#root,
#signUp,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  font-family: sans-serif;
}

form {
  width: 300px;
  background-color: rgb(232, 232, 232);
  border: 1px solid black;
}

form > label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

details {
  width: 100%;
}

p,
ul {
  margin: 0;
}

summary {
  cursor: pointer;
}

h2 {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#authentication,
#authentication > div {
  display: flex;
  gap: 10px;
}

#authentication {
  flex-direction: column;
  align-items: center;
}

#signUp {
  border: 1px solid black;
}
